.App {
  min-height: 100vh;
  padding: 2em;

  .container {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 50%;
    border-radius: 1.5em;
    // border-left: 1px solid #ececec;
    // border-right: 1px solid #ececec;
    padding: 0.5em;
    border: 1px solid #ececec;
    height: 100%;

    .input-container {
      // background-color: #ffffff;
      // border: 1px solid #e4e2e2;
      padding: 1em 5em;
      box-shadow: 1px 15px 18px rgba(0, 0, 0, 0.03);
      margin-top: 2em;

      .form-input-group {
        display: flex;

        .plot-btn {
          margin: 0.3em;
          padding: 0 2em;
          font-size: 1.6rem;
          cursor: pointer;
          background-color: #0166ff;
          color: #ffffff;
          border: 0;
          border-radius: 10px;
        }
      }

      .form-control {
        // width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 1.8rem;
        padding: 1em;
        border-radius: 10px;
        border: 1px solid #ececec;

        &:focus {
          outline: 0;
          border: 1px solid #0166ff;
        }
      }
    }

    .content-container {
      padding: 1em 2em;

      .input-expression {
        display: flex;
        align-items: center;

        mjx-container[jax="SVG"][display="true"] {
          font-size: 2rem;
          text-align: left;
          margin: 0.3em 1em;
        }
      }

      canvas {
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.03);
        background-color: #fff;
        width: 100%;
        height: 45em;
        margin-top: 1em 2em;
      }
    }
  }
}
